* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media only screen and (max-width: 600px) {

    /* CSS yang akan diterapkan ketika lebar layar kurang dari 600px */
    body {
        font-size: 14px;
        font-family: Arial, Helvetica, sans-serif;
    }
}

body {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(#635898, #1d1654, #c4dcff, #e8c7f7) no-repeat;
}

.container {
    width: 100%;
    /* 90% lebar viewport */
    max-width: 1200px;
    /* Maksimum 1200px lebar */
    display: flex;
    flex-wrap: wrap;
}

.image {
    width: 100%;
    /* Gambar mengambil 100% lebar parent element */
    height: auto;
    /* Tinggi gambar disesuaikan sesuai dengan rasio aspek */
}


/* ================================================= */
/* =================== HEADER ====================== */
/* ================================================= */


.slider {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.slide {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    animation: slideShow 30s linear infinite;
}

.slide1 {
    background-image: url('image/100_5997.jpg');
    animation-delay: 10s;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.slide2 {
    background-image: url('image/100_6001.jpg');
    animation-delay: 10s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.slide3 {
    background-image: url('image/20231029_165323.jpg');
    animation-delay: 10s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.slide3 {
    background-image: url('image/20230828_164335.jpg');
    animation-delay: 10s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.slide3 {
    background-image: url('image/20231102_201058.jpg');
    animation-delay: 10s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


@keyframes slideShow {
    0% {
        left: 100%;
    }

    8% {
        left: 0%;
    }

    17% {
        left: 0%;
    }

    25% {
        left: -100%;
    }

    33% {
        left: -100%;
    }

    42% {
        left: -200%;
    }

    50% {
        left: -200%;
    }

    58% {
        left: -300%;
    }

    67% {
        left: -300%;
    }

    75% {
        left: -400%;
    }

    83% {
        left: -400%;
    }

    92% {
        left: -500%;
    }

    100% {
        left: -500%;
    }
}

.slide-text {
    margin-left: 30px;
    max-width: 900px;
    color: white;
    text-shadow: 5px 5px 5px 0px black;
}

.slide-text h1 {
    margin-top: 70px;
    font-size: 100px;
}


.header {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    width: 100%;
    height: 729px;
    background-image: url("image/100_6060.JPG");
    /* background-image: url("image/100_6058.JPG");
    border-image-repeat: none;
    background-size: cover; */
}


/* ================================================= */
/* =================== CONTENT ===================== */
/* ================================================= */

.content {
    margin-top: 100px;
    margin-left: 30px;
}

.content h1{
    color: #2e2657fc;
}

.boxes {
    margin-top: 40px;
    display: flex;
    flex-direction: row ;
    justify-content: center;
    align-items: center;
}

.box {
    margin-right: 70px;
    margin-bottom: 30px;
    padding: 15px;
    border: 0px;
    width: 200px;
    height: 150px;
    border-radius: 10px;
    background: linear-gradient(#1c9beb, #755de052) no-repeat;
    box-shadow: 5px 5px 5px 0px #8379cbec;
    float: right;
    color: white;
    cursor: pointer;
    transition: 500ms;
}

.button-box{
    margin-right: 70px;
    margin-bottom: 30px;
    padding: 15px;
    border: 0px;
    width: 200px;   
    height: 150px;
    border-radius: 10px;
    background: linear-gradient(#1c9beb, #755de052) no-repeat;
    box-shadow: 5px 5px 5px 0px #8379cbec;
    float: right;
    color: white;
    cursor: pointer;
    transition: 500ms;
}

.box:hover {
    background: linear-gradient(#1675af, #5f4cb652) no-repeat;
    box-shadow: 10px 10px 10px 0px #1d16549a;
    width: 210px;
    height: 160px;
    padding: 20px;
}

.button-box:hover {
    background: linear-gradient(#1675af, #5f4cb652) no-repeat;
    box-shadow: 10px 10px 10px 0px #1d16549a;
    width: 210px;
    height: 160px;
    padding: 20px;
}

a:visited{
    color: white;
}

a:active{
    color: white;
}

.box-img {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-img img {
    width: 50px;
    height: 50px;
}

.note{
    margin-left: 35px;
    margin-bottom: 50px;
    padding: 20px;
    max-width: 1200px;
    box-sizing: border-box;
    border: 0px;
    border-radius: 20px;
    width: fit-content;
    height: fit-content;
    /* background: repeating-linear-gradient( #e8c7f7, #1c9beb); */
    color: #372d89;
}

.section{
    margin-top: 40px;
    max-width: 900px;
    height: 100%;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 0px;
    border-radius: 20px;
    /* background: linear-gradient(#63589841,#c4dcff, #e8c7f763); */
    color: #372d89;
    transition: 800ms;
}

.love-letter{
    margin-left: 35px;
    padding: 20px;
    max-width: 1200px;
    box-sizing: border-box;
    border: 0px;
    border-radius: 20px;
    width: fit-content;
    height: fit-content;
    /* background: repeating-linear-gradient( #e8c7f7, #1c9beb); */
    color: #372d89;
}

.footer{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #664f99ce;
}